html {
    
}
body {
    background-image: url('backgrounds/Battleground4.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Alagard;
    color: #ECD9B9;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    margin: 0px;
}



#playOption:hover {
    color: #56c213;
}

h1 {
    font-size: 84px;    

    margin: auto;
    text-align: center;
    padding-top: 56px;
    filter: blur(0);
    filter: none;
}

ul {
    font-size: 36px;
}

